body {
	font-family: Consolas, 微軟正黑體;
	font-size  : 20px;
}

#download {
	font-family: Consolas, 微軟正黑體;
	width      : 100px;
	height     : 40px;
	font-size  : 20px;
}

#filename,
#upload {
	font-family: Consolas, 微軟正黑體;
	width      : 300px;
	height     : 40px;
	font-size  : 20px;
}

#colortbody td {
	padding      : 0px;
	border       : 1px solid #666;
	border-radius: 10%;
}

input[type=color] {
	width  : 40px;
	height : 40px;
	opacity: 0;
}